.contact{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}
.head{
  text-align: center;
}
.heading{
    color: #000;
    font-size:3rem;
    font-weight:bold;
    line-height: 0;
    margin-top: 3rem;
    }
    
.sub_heading{
    color: #696060;
    line-height: 0;
    font-size: larger;
    margin-top: 2.5rem;
    
}
.main{
    display: flex;
    width: 85%;
    background-color: #E9F4FF;
    justify-content: space-between;
    border-radius: 0.5rem;
    margin-top: 3rem;
}
/* left */
.left{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #21658C;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 28%; */
    overflow: hidden;
}
.lefthead{
    color: white;
    font-size: larger;
   margin-left: -3.5rem;
   margin-bottom: 0.4rem;
}
.img{
   margin-left:1rem;
   margin-right: 1rem;
}
.bottomcontent{
display: flex;
flex-direction: column;
}
.icons{
    display: flex;
    align-items: center;
   
   
}
.icontext{
    font-size: small;
    color: white;
    margin-left: 0.5rem;
  
}

/* right */
.right{
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.input1{
    display: flex;
 }
 .input1a{
    margin-right:4rem ;
    width: 50%;
 }
 .input1a input{
    width: 100%;
    background-color:  #E9F4FF;
    border: none;
    border-bottom: 2px solid #21658C;
    margin-top: 1rem;
    font-size:medium;
  
 }
 .input1a input:focus{
   outline: none;
 }
 .input1 label{
    color: #494848;
    font-size: larger;
    
 }


 .input2 label{
    color: #494848;
    font-size: larger;
 }
.input2 textarea{
    
    margin-top:1.5rem;
    border: none;
    border-bottom: 2px solid #21658C;
    background-color:  #E9F4FF;
    resize: none;
    overflow-x: hidden;
    width: 92%;
}
 
.input2 textarea:focus{
outline: none;
}
 .btn{
    width: 28%;
    background-color: #21658C;
    border-style: none;
    border-radius: 0.5rem;
    color: white;
    padding: 0.6rem;
    font-size: large;
    cursor: pointer;
 }
 .textarea{
    font-size: 12 pt;
 }
 @media (max-width:320px){
.main{
    width: 100%;
}
.heading{
    font-size:2rem;
}
 }
 @media (max-width:768px){
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right{
      width: 90%;
    }
    .input1{
        display: flex;
        flex-direction: column;
    }
    .btn{
        width: 65%;
        margin-top: 0.8rem;
        margin-bottom:1rem;
    }
    .input1a input{
        margin-top: 0.8rem;
        margin-bottom: 0.4rem;
    }
  .input1a{
        width: 100%;
  }
  .input2 textarea{
    width: 99%;
  }
 }
 @media (max-width:1070px){
    .lefthead{
        margin-left: -0.5rem;
    }
 }